<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="introvideo" value="introvideo.mp4"/>
    <add key="rebus" value="F:\rebus.txt"/>
  </appSettings>
  
  <connectionStrings>
    <add name="PWNDatabase" connectionString="server=server.infhaarlem.nl;
         database=s630704a_pwnescaperoom; uid=s630704a_pwnER; pwd=XXXXXXXXXX"/>
  </connectionStrings>

</configuration>